@use 'resets';

$primary-color: #f5ecd3;
$secondary-color: #cb9972;
$text-color: #db5808;
$bg: rgb(255, 255, 255);


* {
    font-family: 'Roboto Mono', monospace;
}

//// HEADER ////

.header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: $primary-color;
    font-weight: 600;


}

.header {
    img {
        width: 100px;
    }
}

.header {
    ul {
        display: flex;
        gap: 30px;
        list-style-type: none;
    }
}

.header {
    a {
        text-decoration: none;
        color: #db5808

    }
}
 
//// HERO //// 




