@use 'resets';

$primary-color: #f5ecd3;
$secondary-color: #cb9972;
$text-color: #db5808;
$bg: rgb(255, 255, 255);


* {
    font-family: 'Roboto Mono', monospace;
    
}

//// HEADER ////

.header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: $primary-color;
    font-weight: 600;


}

.header {
    img {
        width: 100px;
    }
}

.header {
    ul {
        display: flex;
        gap: 30px;
        list-style-type: none;
    }
}

.header {
    a {
        text-decoration: none;
        color: #db5808

    }
}
 
//// HERO //// 

.hero {
    background-color: $primary-color;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
}

.hero-wrapper {
    display: flex;
    margin-top: 50px;
    gap: 200px;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.hero-text {
    width: 500px;
}

.hero {
    img {
        height: auto;
        width: 600px;
        border: 10px solid $text-color;
        
        
    }
}


.hero {
    h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-bottom: 0;
        
    }
}

.hero {
    p {
        opacity: 80%;
        font-weight: 400;
    
    }
}

.hero {
    button {
        color: $text-color !important;
        text-transform: uppercase;
    }
}

//// INFORMATION //// 

.information {
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information {
    img {
        border: 10px solid #db5808;
        border-radius: 20px;
        width: 180px;
    }
}

.information { 
    h1 {
        text-align: center;
        margin-bottom: 100px;
        font-weight: 700;
    }
}

.information-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    
}

.card {
    p {
        text-align: center;
        max-width: 240px;
    }
}

//// QUOTE //// 

.quote {
    display: flex;
    background-color: #f5ecd3;
    min-height: 55vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote-content {
    width: 800px;
}

.quote-content {
    h1 {
        font-weight: 400;
    }
}

.quote-author {
    text-align: end;
}

.quote-author {
    h2 {
        font-weight: 700;
    }
}


//// CALL TO ACTION //// 

.call-action {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.call-content {
    background-color: $secondary-color;
    border-radius: 40px;
    padding: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.call-content {
    button {
        color: $secondary-color !important;
        text-transform: uppercase;
    }
}
//// FOOTER ////

.footer {
    min-height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
}